.jumbotron {
  background-image: url(../img/jumbotron.gif);
  background-size: cover;
  text-align: center;
  color: white;
}

#button {

  align-items: center;
  text-align: center;
  padding-left: 50px;
  background-color: grey;
}

#button:hover{
  background-color:#9eff81;
}

#buttonMath {
  align-items: center;
  text-align: center;
  padding-left: 50px;
  background-color: grey;
}

#buttonMath:hover{
  background-color:#ff819e;
}
#manipulator {
  text-align: center;
}

.border {
  border-style: solid;
  border-color: black;
}

.borderMath {
  border-style: inset;
}
