.jumbotron {
  background-image: url(../img/jumbotron.gif);
  background-size: cover;
  text-align: center;
  color: white;
}

body {
  background-image: url(../img/background.gif);
  background-size: cover;
  text-align: center;
  color: black;
}
#button {

  align-items: center;
  text-align: center;
  padding-left: 50px;
  background-color: #b1b3b1;
}

#button:hover{
  background-color:#9eff81;
}

.border {
  border-style: inset;
}

#manipulator {
  text-align: center;
}

#name {
  background-image: url(../img/box.gif);
  background-size: cover;
  color: black;
}

#userInput {
  background-image: url(../img/box.gif);
  background-size: cover;
  text-align: center;
  color: black;
}

.panel {
  background-color: #f1f2ee;
}
